#title {
    text-align: center;
    color: cornflowerblue;
    margin-top: 20px;
}

#first_name,
#last_name,
#age,
#city {
    width: 200px;
    height: 30px;
    margin-bottom: 20px;
}

#description {
    height: 120px;
    width: 200px;
}

#cancel {
    margin-right: 20px;
    background-color: rgb(81, 162, 238);
    border-color: rgb(81, 162, 238);
    color: black;
    border-radius: 4px;
}

#submit {
    background-color: rgb(81, 162, 238);
    border-color: rgb(81, 162, 238);
    color: black;
    border-radius: 4px;
}